<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <div class="login-container">
        <h2>Register </h2>

        <form method="POST">
            {{ form.hidden_tag() }}

            
        <p>
            {{form.username.label}}<br>
            {{form.username(size=30, placeholder= 'Enter your username')}}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p> 
        
        <p>
            {{form.password.label}}<br>
            {{form.password(size=30, placeholder= 'Enter password')}}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p> 

        <p>
            {{form.email.label}}<br>
            {{form.email(size=30 ,placeholder="e.g abc@gmail.com")}}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p> 
        <br>
        <p>
            {{ form.submit() }}
        </p>
        


        </form>

    

{% with messages = get_flashed_messages() %}
    {%if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

    </div>

</body>
</html>